# Programming for Data Analysis Project 2020

## By Carol Treacy

Problem statementFor this project you must create a data set by simulating a real-world phenomenon ofyour choosing.  You may pick any phenomenon you wish – you might pick one that isof interest to you in your personal or professional life.  Then, rather than collect datarelated to the phenomenon, you should model and synthesise such data using Python.We suggest you use thenumpy.randompackage for this purpose.Specifically, in this project you should:•Choose a real-world phenomenon that can be measured and for which you couldcollect at least one-hundred data points across at least four different variables.•Investigate  the  types  of  variables  involved,  their  likely  distributions,  and  theirrelationships with each other.•Synthesise/simulate a data set as closely matching their properties as possible.•Detail your research and implement the simulation in a Jupyter notebook – thedata set itself can simply be displayed in an output cell within the notebook.Note that this project is about simulation – you must synthesise a data set.  Somestudents may already have some real-world data sets in their own files.  It is okay tobase your synthesised data set on these should you wish (please reference it if you do),but the main task in this project is to create a synthesised data set.  The next sectiongives an example project idea.

## Table of contents

- Introduction 

- Objectives

- Import data from libraries

- Research Topic

- Generate data

- Relationships

- Data Exploration

- Distribution

- Conclusion

- References

- End

## Introduction

This Project is going to choose a real-world phenomenon of my personal interest and randomly select the data.  Instead of choosing a phenomenon that has data already collected, I will model and synthesise my own data using Python.  I will use numpy.randompackge to simulate my real-world phenomenon.

## Objectives

- Simulate a real work phonomenon
- Select one hundred data points with four different variables
- Investigate the types of variables, distrubtion and relationships
- Synthesise/simulate a data set as closely matching their properties as possible

## Import data from libraries

In [3]:
# to start using numpy.random you have to import numpy, matplotlib, pandas and seaborn
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Research topic

The real-world phenomenon that I am going to chose is shopping in store or shopping online.  I will use the month of October 2020 and create random data using the numpy.random package.

## Generate Data

In [6]:
# immport datetime and printed today's date
import datetime

x = datetime.datetime.now()
print(x)

2020-12-16 09:43:05.490449

In [9]:
# code started from https://stackoverflow.com/questions/57274902/python-iterate-over-all-days-in-a-month

# I couldn't get this to print calendar month 

from calendar import Calendar, monthrange
c = Calendar()

for date in list(c.itermonthdates(2020, 10))[:monthrange(2020, 10)[1]]:
    print(date)

2020-09-28
2020-09-29
2020-09-30
2020-10-01
2020-10-02
2020-10-03
2020-10-04
2020-10-05
2020-10-06
2020-10-07
2020-10-08
2020-10-09
2020-10-10
2020-10-11
2020-10-12
2020-10-13
2020-10-14
2020-10-15
2020-10-16
2020-10-17
2020-10-18
2020-10-19
2020-10-20
2020-10-21
2020-10-22
2020-10-23
2020-10-24
2020-10-25
2020-10-26
2020-10-27
2020-10-28

In [10]:
# code started from https://stackoverflow.com/questions/21231789/how-to-get-all-days-in-current-month

import datetime, calendar
year = 2020
month = 10
num_days = calendar.monthrange(year, month)[1]
days = [datetime.date(year, month, day) for day in range(1, num_days+1)]
days

[datetime.date(2020, 10, 1),
 datetime.date(2020, 10, 2),
 datetime.date(2020, 10, 3),
 datetime.date(2020, 10, 4),
 datetime.date(2020, 10, 5),
 datetime.date(2020, 10, 6),
 datetime.date(2020, 10, 7),
 datetime.date(2020, 10, 8),
 datetime.date(2020, 10, 9),
 datetime.date(2020, 10, 10),
 datetime.date(2020, 10, 11),
 datetime.date(2020, 10, 12),
 datetime.date(2020, 10, 13),
 datetime.date(2020, 10, 14),
 datetime.date(2020, 10, 15),
 datetime.date(2020, 10, 16),
 datetime.date(2020, 10, 17),
 datetime.date(2020, 10, 18),
 datetime.date(2020, 10, 19),
 datetime.date(2020, 10, 20),
 datetime.date(2020, 10, 21),
 datetime.date(2020, 10, 22),
 datetime.date(2020, 10, 23),
 datetime.date(2020, 10, 24),
 datetime.date(2020, 10, 25),
 datetime.date(2020, 10, 26),
 datetime.date(2020, 10, 27),
 datetime.date(2020, 10, 28),
 datetime.date(2020, 10, 29),
 datetime.date(2020, 10, 30),
 datetime.date(2020, 10, 31)]

In [13]:
y = days

In [14]:
y

[datetime.date(2020, 10, 1),
 datetime.date(2020, 10, 2),
 datetime.date(2020, 10, 3),
 datetime.date(2020, 10, 4),
 datetime.date(2020, 10, 5),
 datetime.date(2020, 10, 6),
 datetime.date(2020, 10, 7),
 datetime.date(2020, 10, 8),
 datetime.date(2020, 10, 9),
 datetime.date(2020, 10, 10),
 datetime.date(2020, 10, 11),
 datetime.date(2020, 10, 12),
 datetime.date(2020, 10, 13),
 datetime.date(2020, 10, 14),
 datetime.date(2020, 10, 15),
 datetime.date(2020, 10, 16),
 datetime.date(2020, 10, 17),
 datetime.date(2020, 10, 18),
 datetime.date(2020, 10, 19),
 datetime.date(2020, 10, 20),
 datetime.date(2020, 10, 21),
 datetime.date(2020, 10, 22),
 datetime.date(2020, 10, 23),
 datetime.date(2020, 10, 24),
 datetime.date(2020, 10, 25),
 datetime.date(2020, 10, 26),
 datetime.date(2020, 10, 27),
 datetime.date(2020, 10, 28),
 datetime.date(2020, 10, 29),
 datetime.date(2020, 10, 30),
 datetime.date(2020, 10, 31)]

## SQLite in Python

In [29]:
# create data base for random data
import sqlite3

In [44]:
conn = sqlite3.connect('shopping.db')

In [45]:
c = conn.cursor()

In [47]:
# Create table
c.execute('CREATE TABLE data(date text, day text, gender text, age text, address text, amount real)')
conn.commit()

In [49]:
# Create table
c.execute("SELECT date FROM sqlite_master WHERE type='table'")
c.fetchall()

OperationalError: no such column: date

In [ ]:


# Create table
c.execute('''CREATE TABLE shopping data
             (date text, day text, gender text, age text, address text, online Yes/No text)''')

# Insert a row of data
c.execute("INSERT INTO date VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

## Relationships

## Data exploration

In [21]:
df.shape

NameError: name 'df' is not defined

In [64]:
df.describe

<bound method NDFrame.describe of Empty DataFrame
Columns: []
Index: []>

In [ ]:
plot

## Distribution

## Conclusion

## Reference

https://stackoverflow.com/questions/57274902/python-iterate-over-all-days-in-a-month

https://stackoverflow.com/questions/21231789/how-to-get-all-days-in-current-month

## End