# Programming for Data Analysis Project 2020

## By Carol Treacy

Problem statementFor this project you must create a data set by simulating a real-world phenomenon ofyour choosing.  You may pick any phenomenon you wish – you might pick one that isof interest to you in your personal or professional life.  Then, rather than collect datarelated to the phenomenon, you should model and synthesise such data using Python.We suggest you use thenumpy.randompackage for this purpose.Specifically, in this project you should:•Choose a real-world phenomenon that can be measured and for which you couldcollect at least one-hundred data points across at least four different variables.•Investigate  the  types  of  variables  involved,  their  likely  distributions,  and  theirrelationships with each other.•Synthesise/simulate a data set as closely matching their properties as possible.•Detail your research and implement the simulation in a Jupyter notebook – thedata set itself can simply be displayed in an output cell within the notebook.Note that this project is about simulation – you must synthesise a data set.  Somestudents may already have some real-world data sets in their own files.  It is okay tobase your synthesised data set on these should you wish (please reference it if you do),but the main task in this project is to create a synthesised data set.  The next sectiongives an example project idea.

## Table of contents

- Introduction 

- Objectives

- Import data from libraries

- Research Topic

- Generate data

- Relationships

- Data Exploration

- Distribution

- Conclusion

- References

- End

## Introduction

This Project is going to choose a real-world phenomenon of my personal interest and randomly select the data.  Instead of choosing a phenomenon that has data already collected, I will model and synthesise my own data using Python.  I will use numpy.randompackge to simulate my real-world phenomenon.

## Objectives

- Simulate a real work phonomenon
- Select one hundred data points with four different variables
- Investigate the types of variables, distrubtion and relationships
- Synthesise/simulate a data set as closely matching their properties as possible

## Import data from libraries

In [3]:
# to start using numpy.random you have to import numpy, matplotlib, pandas and seaborn
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Research topic

The real-world phenomenon that I am going to chose is shopping in store or shopping online.  I will use the month of October 2020 and create random data using the numpy.random package.

## Generate Data

In [6]:
# immport datetime and printed today's date
import datetime

x = datetime.datetime.now()
print(x)

2020-12-16 09:43:05.490449

In [9]:
# code started from https://stackoverflow.com/questions/57274902/python-iterate-over-all-days-in-a-month

# I couldn't get this to print calendar month 

from calendar import Calendar, monthrange
c = Calendar()

for date in list(c.itermonthdates(2020, 10))[:monthrange(2020, 10)[1]]:
    print(date)

2020-09-28
2020-09-29
2020-09-30
2020-10-01
2020-10-02
2020-10-03
2020-10-04
2020-10-05
2020-10-06
2020-10-07
2020-10-08
2020-10-09
2020-10-10
2020-10-11
2020-10-12
2020-10-13
2020-10-14
2020-10-15
2020-10-16
2020-10-17
2020-10-18
2020-10-19
2020-10-20
2020-10-21
2020-10-22
2020-10-23
2020-10-24
2020-10-25
2020-10-26
2020-10-27
2020-10-28

In [10]:
# code started from https://stackoverflow.com/questions/21231789/how-to-get-all-days-in-current-month

import datetime, calendar
year = 2020
month = 10
num_days = calendar.monthrange(year, month)[1]
days = [datetime.date(year, month, day) for day in range(1, num_days+1)]
days

[datetime.date(2020, 10, 1),
 datetime.date(2020, 10, 2),
 datetime.date(2020, 10, 3),
 datetime.date(2020, 10, 4),
 datetime.date(2020, 10, 5),
 datetime.date(2020, 10, 6),
 datetime.date(2020, 10, 7),
 datetime.date(2020, 10, 8),
 datetime.date(2020, 10, 9),
 datetime.date(2020, 10, 10),
 datetime.date(2020, 10, 11),
 datetime.date(2020, 10, 12),
 datetime.date(2020, 10, 13),
 datetime.date(2020, 10, 14),
 datetime.date(2020, 10, 15),
 datetime.date(2020, 10, 16),
 datetime.date(2020, 10, 17),
 datetime.date(2020, 10, 18),
 datetime.date(2020, 10, 19),
 datetime.date(2020, 10, 20),
 datetime.date(2020, 10, 21),
 datetime.date(2020, 10, 22),
 datetime.date(2020, 10, 23),
 datetime.date(2020, 10, 24),
 datetime.date(2020, 10, 25),
 datetime.date(2020, 10, 26),
 datetime.date(2020, 10, 27),
 datetime.date(2020, 10, 28),
 datetime.date(2020, 10, 29),
 datetime.date(2020, 10, 30),
 datetime.date(2020, 10, 31)]

In [13]:
y = days

In [14]:
y

[datetime.date(2020, 10, 1),
 datetime.date(2020, 10, 2),
 datetime.date(2020, 10, 3),
 datetime.date(2020, 10, 4),
 datetime.date(2020, 10, 5),
 datetime.date(2020, 10, 6),
 datetime.date(2020, 10, 7),
 datetime.date(2020, 10, 8),
 datetime.date(2020, 10, 9),
 datetime.date(2020, 10, 10),
 datetime.date(2020, 10, 11),
 datetime.date(2020, 10, 12),
 datetime.date(2020, 10, 13),
 datetime.date(2020, 10, 14),
 datetime.date(2020, 10, 15),
 datetime.date(2020, 10, 16),
 datetime.date(2020, 10, 17),
 datetime.date(2020, 10, 18),
 datetime.date(2020, 10, 19),
 datetime.date(2020, 10, 20),
 datetime.date(2020, 10, 21),
 datetime.date(2020, 10, 22),
 datetime.date(2020, 10, 23),
 datetime.date(2020, 10, 24),
 datetime.date(2020, 10, 25),
 datetime.date(2020, 10, 26),
 datetime.date(2020, 10, 27),
 datetime.date(2020, 10, 28),
 datetime.date(2020, 10, 29),
 datetime.date(2020, 10, 30),
 datetime.date(2020, 10, 31)]

## SQLite in Python

In [1]:
# create data base for random data
import sqlite3

In [2]:
conn = sqlite3.connect('salesdata.db')

In [3]:
c = conn.cursor()

In [4]:
# Create table
c.execute('CREATE TABLE person(date text, name text, address text, instore real, online real)')
conn.commit()

In [5]:
# Create table
c.execute("SELECT name FROM sqlite_master WHERE type='table'")
c.fetchall()

[('person',)]

In [21]:
c.execute("INSERT INTO person VALUES('01/10/20','Mary Ryan', 'Tipperary', '€15.30', '€54.31')")
c.execute("INSERT INTO person VALUES('01/10/20','Tom Jones', 'Cork', '€75.30', '€54.31')")
c.execute("INSERT INTO person VALUES('01/10/20','Sue Bloggs', 'Limerick', '€19.31', '€104.32')")
c.execute("INSERT INTO person VALUES('02/10/20','Noreen Ryan', 'Dublin', '€105.30', '€54.31')")
c.execute("INSERT INTO person VALUES('02/10/20','Carol Kerns', 'Tipperary', '€150.30', '€454.32')")
c.execute("INSERT INTO person VALUES('02/10/20','Joe Maher', 'Meath', '€15.30', '€4.31')")
c.execute("INSERT INTO person VALUES('02/10/20','Anna Corcoran', 'Mayo', '€415.30', '€954.61')")
c.execute("INSERT INTO person VALUES('03/10/20','Michelle Ryan', 'Mayo', '€5.30', '€64.31')")
c.execute("INSERT INTO person VALUES('04/10/20','Moira Browne', 'Tipperary', '€15.36', '€94.31')")
c.execute("INSERT INTO person VALUES('04/10/20','Patrick Treacy', 'Cork', '€65.30', '€54.31')")
c.execute("INSERT INTO person VALUES('04/10/20','Peggy Greene', 'Belfast', '€151.70', '€453.81')")
c.execute("INSERT INTO person VALUES('05/10/20','Michael Browne', 'Kerry', '€115.40', '€546.38')")
c.execute("INSERT INTO person VALUES('05/10/20','Mary Murphy', 'Mayo', '€100.30', '€54.31')")
c.execute("INSERT INTO person VALUES('06/10/20','Catherine Givens', 'Mayo', '€00.00', '€54.31')")
c.execute("INSERT INTO person VALUES('06/10/20','Tom Murphy', 'Tipperary', '€5.30', '€54.31')")
c.execute("INSERT INTO person VALUES('06/10/20','John Brett', 'Cork', '€5.30', '€54.34')")
c.execute("INSERT INTO person VALUES('07/10/20','Andy Treacy', 'Limerick', '€19.31', '€114.32')")
c.execute("INSERT INTO person VALUES('07/10/20','Paudie Burke', 'Dublin', '€106.30', '€53.31')")
c.execute("INSERT INTO person VALUES('07/10/20','Nonie Murphy', 'Tipperary', '€15.30', '€54.31')")
c.execute("INSERT INTO person VALUES('08/10/20','Helen Gleeson', 'Waterford', '€16.30', '€64.31')")
c.execute("INSERT INTO person VALUES('08/10/20','Sean Meagher', 'Mayo', '€00.00', '€542.11')")
c.execute("INSERT INTO person VALUES('08/10/20','Mary Gleeson', 'Mayo', '€00.00', '€154.31')")
c.execute("INSERT INTO person VALUES('09/10/20','Carol Brett', 'Cork', '€00.00', '€54.41')")
c.execute("INSERT INTO person VALUES('09/10/20','Paul Hayes', 'Limerick', '€15.30', '€594.37')")
c.execute("INSERT INTO person VALUES('10/10/20','Margaret Cornally', 'Meath', '€00.00', '€14.31')")
c.execute("INSERT INTO person VALUES('10/10/20','Jim Ryan', 'Dublin', '€15.30', '€00.00')")
c.execute("INSERT INTO person VALUES('10/10/20','Ann Jones', 'Waterford', '€115.30', '€549.21')")
c.execute("INSERT INTO person VALUES('10/10/20','Michael Ryan', 'Waterford', '€00.00', '€544.31')")
c.execute("INSERT INTO person VALUES('11/10/20','James Murphy', 'Tipperary', '€15.30', '€00.00')")
c.execute("INSERT INTO person VALUES('11/10/20','Tom Ryan', 'Cork', '€75.30', '€24.31')")
c.execute("INSERT INTO person VALUES('11/10/20','Sue Jones', 'Limerick', '€199.31', '€704.32')")
c.execute("INSERT INTO person VALUES('11/10/20','Noreen Brett', 'Dublin', '€105.30', '€00.00')")
c.execute("INSERT INTO person VALUES('12/10/20','Mary Burke', 'Tipperary', '€159.30', '€00.00')")
c.execute("INSERT INTO person VALUES('12/10/20','Oliver Ryan', 'Donegal', '€00.00', '€254.31')")
c.execute("INSERT INTO person VALUES('12/10/20','PJ Burke', 'Cork', '€4.30', '€54.00')")
c.execute("INSERT INTO person VALUES('12/10/20','Patrick Corcoran', 'Cork', '€15.30', '€54.31')")
c.execute("INSERT INTO person VALUES('12/10/20','June Roberts', 'Cork', '€145.30', '€254.31')")
c.execute("INSERT INTO person VALUES('12/10/20','May Burke', 'Kerry', '€00.00', '€44.31')")
c.execute("INSERT INTO person VALUES('12/10/20','Winter Ryan', 'Tipperary', '€15.39', '€34.31')")
c.execute("INSERT INTO person VALUES('12/10/20','Una Jones', 'Kerry', '€00.00', '€54.31')")
c.execute("INSERT INTO person VALUES('13/10/20','Albert Brett', 'Wexford', '€15.30', '€44.31')")
c.execute("INSERT INTO person VALUES('13/10/20','Maggie Bourke', 'Cork', '€00.00', '€354.37')")
c.execute("INSERT INTO person VALUES('13/10/20','Kerry Ryan', 'Tipperary', '€00.00', '€54.32')")
c.execute("INSERT INTO person VALUES('13/10/20','Tom Roberts', 'Cork', '€75.30', '€54.31')")
c.execute("INSERT INTO person VALUES('13/10/20','Sue Corcoran', 'Limerick', '€19.31', '€105.32')")
c.execute("INSERT INTO person VALUES('13/10/20','Noreen Carey', 'Dublin', '€00.00', '€54.31')")
c.execute("INSERT INTO person VALUES('13/10/20','Paul Burke', 'Tipperary', '€00.0', '€54.61')")
c.execute("INSERT INTO person VALUES('14/10/20','Michael O Rourke', 'Limerick', '€00.00', '€24.38')")
c.execute("INSERT INTO person VALUES('14/10/20','David O Flaherty', 'Limerick', '€00.00', '€14.99')")
c.execute("INSERT INTO person VALUES('14/10/20','Matthew Fitzsimmons', 'Tipperary', '€5.30', '€54.99')")
c.execute("INSERT INTO person VALUES('14/10/20','Jim Jones', 'Tipperary', '€5.39', '€105.99')")
c.execute("INSERT INTO person VALUES('15/10/20','James O Connor', 'Limerick', '€5.30', '€53.99')")
c.execute("INSERT INTO person VALUES('15/10/20','Michael Burke', 'Limerick', '€00.00', '€54.99')")
c.execute("INSERT INTO person VALUES('15/10/20','Olivia Ryan', 'Donegal', '€00.00', '€154.00')")
c.execute("INSERT INTO person VALUES('15/10/20','Nuala Brett', 'Wexford', '€00.00', '€58.00')")
c.execute("INSERT INTO person VALUES('16/10/20','Nicola O Connor', 'Mayo', '€00.00', '€154.31')")
c.execute("INSERT INTO person VALUES('16/10/20','Claire Greene', 'Tipperary', '€00.00', '€64.01')")
c.execute("INSERT INTO person VALUES('16/10/20','Pauline Murphy', 'Cork', '€5.30', '€54.00')")
c.execute("INSERT INTO person VALUES('17/10/20','Sue Fitzgerald', 'Limerick', '€19.31', '€04.32')")
c.execute("INSERT INTO person VALUES('17/10/20','Noreen O Rourke', 'Dublin', '€105.30', '€64.31')")
c.execute("INSERT INTO person VALUES('18/10/20','Sophie Murphy', 'Tipperary', '€115.30', '€54.31')")
c.execute("INSERT INTO person VALUES('18/10/20','Chloe Jones', 'Wexford', '€00.00', '€543.31')")
c.execute("INSERT INTO person VALUES('18/10/20','Emma O Connor', 'Wexford', '€00.00', '€54.31')")
c.execute("INSERT INTO person VALUES('18/10/20','Moira Ryan', 'Mayo', '€15.30', '€154.31')")
c.execute("INSERT INTO person VALUES('19/10/20','David Dunne', 'Galway', '€00.00', '€54.31')")
c.execute("INSERT INTO person VALUES('19/10/20','Nuala Fitzpatrick', 'Galway', '€00.00', '€154.00')")
c.execute("INSERT INTO person VALUES('19/10/20','Deirdre Ryan', 'Tipperary', '€00.00', '€54.31')")
c.execute("INSERT INTO person VALUES('20/10/20','Mary Fitzpatrick', 'Cork', '€00.00', '€524.00')")
c.execute("INSERT INTO person VALUES('20/10/20','Caroline O Meara', 'Cork', '€15.00', '€00.00')")
c.execute("INSERT INTO person VALUES('21/10/20','Jack Fitzsimmons', 'Donegal', '€14.30', '€00.00')")
c.execute("INSERT INTO person VALUES('21/10/20','Pat Carey', 'Donegal', '€00.00', '€44.00')")
c.execute("INSERT INTO person VALUES('21/10/20','Tom O Brien', 'Cork', '€75.30', '€00.00')")
c.execute("INSERT INTO person VALUES('22/10/20','Sue O Keeffe', 'Limerick', '€19.00', '€105.32')")
c.execute("INSERT INTO person VALUES('22/10/20','Noreen Smyth', 'Dublin', '€105.31', '€59.00')")
c.execute("INSERT INTO person VALUES('22/10/20','Petula Smyth', 'Tipperary', '€15.30', '€00.00')")
c.execute("INSERT INTO person VALUES('22/10/20','Nancy Duff', 'Donegal', '€00.00', '€154.99')")
c.execute("INSERT INTO person VALUES('22/10/20','Fay O Brien', 'Tipperary', '€00.00', '€54.00')")
c.execute("INSERT INTO person VALUES('23/10/20','Conor O Brien', 'Tipperary', '€5.30', '€59.00')")
c.execute("INSERT INTO person VALUES('23/10/20','Bryan Ryan', 'Cork', '€00.00', '€54.00')")
c.execute("INSERT INTO person VALUES('24/10/20','Fergal Kerns', 'Cork', '€00.00', '€254.99')")
c.execute("INSERT INTO person VALUES('25/10/20','Dermot O Brien', 'Belfast', '€00.00', '€54.65')")
c.execute("INSERT INTO person VALUES('26/10/20','Maisy Summer', 'Waterford', '€00.00', '€54.97')")
c.execute("INSERT INTO person VALUES('27/10/20','Emma O Dee', 'Cavan', '€00.00', '€44.33')")
c.execute("INSERT INTO person VALUES('28/10/20','Deirdre Murphy', 'Limerick', '€00.00', '€100.00')")
c.execute("INSERT INTO person VALUES('28/10/20','Mary Smyth', 'Tipperary', '€15.30', '€54.31')")
c.execute("INSERT INTO person VALUES('28/10/20','Nancy Jones', 'Cork', '€75.30', '€54.00')")
c.execute("INSERT INTO person VALUES('29/10/20','Sue O Brien', 'Limerick', '€18.31', '€104.30')")
c.execute("INSERT INTO person VALUES('29/10/20','Noreen Winter', 'Dublin', '€00.00', '€44.33')")
c.execute("INSERT INTO person VALUES('29/10/20','Margaret O Brien', 'Dublin', '€115.00', '€00.00')")
c.execute("INSERT INTO person VALUES('29/10/20','May Slattery', 'Meath', '€00.00', '€57.39')")
c.execute("INSERT INTO person VALUES('30/10/20','Mary Slattery', 'Kerry', '€00.00', '€54.36')")
c.execute("INSERT INTO person VALUES('30/10/20','Sam Ryan', 'Kerry', '€00.00', '€52.00')")
c.execute("INSERT INTO person VALUES('30/10/20','John Ryan', 'Mayo', '€00.00', '€154.00')")
c.execute("INSERT INTO person VALUES('30/10/20','Liam Ryan', 'Galway', '€19.30', '€154.31')")
c.execute("INSERT INTO person VALUES('30/10/20','Brid Ryan', 'Galway', '€19.90', '€00.00')")
c.execute("INSERT INTO person VALUES('31/10/20','Sophia Ryan', 'Derry', '€00.00', '€54.99')")
c.execute("INSERT INTO person VALUES('31/10/20','Mary Fitzpatrick', 'Dublin', '€00.00', '€45.54')")
c.execute("INSERT INTO person VALUES('31/10/20','Caroline Smyth', 'Tipperary', '€00.00', '€56.89')")
c.execute("INSERT INTO person VALUES('31/10/20','Helena Jones', 'Tipperary', '€00.00', '€59.69')")
c.execute("INSERT INTO person VALUES('31/10/20','Helen Jones', 'Cork', '€75.39', '€24.99')")
conn.commit

In [23]:
# check information in data base
# first 7 rows in twice
c.execute("SELECT ROWID, date, name, address, instore, online FROM person")
c.fetchall()

[(1, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (2, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (3, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (4, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (5, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (6, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (7, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (8, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (9, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (10, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (11, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (12, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (13, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (14, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (15, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (16, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (17, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (18, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (19, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (20, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (21, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (22, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (23, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (24, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (25, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (26, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (27, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (28, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (29, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (30, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (31, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (32, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (33, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (34, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (35, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (36, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (37, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (38, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (39, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (40, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (41, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (42, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (43, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (44, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (45, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (46, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (47, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (48, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (49, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (50, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (51, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (52, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (53, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (54, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (55, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (56, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (57, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (58, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (59, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (60, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (61, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (62, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (63, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (64, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (65, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (66, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (67, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (68, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (69, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (70, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (71, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (72, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (73, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (74, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (75, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (76, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (77, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (78, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (79, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (80, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (81, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (82, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (83, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (84, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (85, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (86, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (87, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (88, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (89, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (90, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (91, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (92, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (93, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (94, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (95, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (96, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (97, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (98, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (99, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (100, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (101, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (102, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (103, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (104, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (105, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (106, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (107, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (108, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (109, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (110, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (111, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (112, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (113, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (114, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (115, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (116, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (117, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (118, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (119, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (120, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (121, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (122, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (123, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (124, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (125, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (126, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (127, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (128, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (129, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (130, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (131, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (132, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (133, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (134, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (135, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (136, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (137, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (138, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (139, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (140, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (141, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (142, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (143, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (144, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (145, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (146, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (147, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (148, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (149, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (150, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (151, '14/10/20', 'David O Flaherty', 'Limerick', '€00.00', '€14.99'),
 (152, '14/10/20', 'Matthew Fitzsimmons', 'Tipperary', '€5.30', '€54.99'),
 (153, '14/10/20', 'Jim Jones', 'Tipperary', '€5.39', '€105.99'),
 (154, '15/10/20', 'James O Connor', 'Limerick', '€5.30', '€53.99'),
 (155, '15/10/20', 'Michael Burke', 'Limerick', '€00.00', '€54.99'),
 (156, '15/10/20', 'Olivia Ryan', 'Donegal', '€00.00', '€154.00'),
 (157, '15/10/20', 'Nuala Brett', 'Wexford', '€00.00', '€58.00'),
 (158, '16/10/20', 'Nicola O Connor', 'Mayo', '€00.00', '€154.31'),
 (159, '16/10/20', 'Claire Greene', 'Tipperary', '€00.00', '€64.01'),
 (160, '16/10/20', 'Pauline Murphy', 'Cork', '€5.30', '€54.00'),
 (161, '17/10/20', 'Sue Fitzgerald', 'Limerick', '€19.31', '€04.32'),
 (162, '17/10/20', 'Noreen O Rourke', 'Dublin', '€105.30', '€64.31'),
 (163, '18/10/20', 'Sophie Murphy', 'Tipperary', '€115.30', '€54.31'),
 (164, '18/10/20', 'Chloe Jones', 'Wexford', '€00.00', '€543.31'),
 (165, '18/10/20', 'Emma O Connor', 'Wexford', '€00.00', '€54.31'),
 (166, '18/10/20', 'Moira Ryan', 'Mayo', '€15.30', '€154.31'),
 (167, '19/10/20', 'David Dunne', 'Galway', '€00.00', '€54.31'),
 (168, '19/10/20', 'Nuala Fitzpatrick', 'Galway', '€00.00', '€154.00'),
 (169, '19/10/20', 'Deirdre Ryan', 'Tipperary', '€00.00', '€54.31'),
 (170, '20/10/20', 'Mary Fitzpatrick', 'Cork', '€00.00', '€524.00'),
 (171, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (172, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (173, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (174, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (175, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (176, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (177, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (178, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (179, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (180, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (181, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (182, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (183, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (184, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (185, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (186, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (187, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (188, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (189, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (190, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (191, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (192, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (193, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (194, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (195, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (196, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (197, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (198, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (199, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (200, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (201, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (202, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (203, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (204, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (205, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (206, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (207, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (208, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (209, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (210, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (211, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (212, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (213, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (214, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (215, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (216, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (217, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (218, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (219, '14/10/20', 'David O Flaherty', 'Limerick', '€00.00', '€14.99'),
 (220, '14/10/20', 'Matthew Fitzsimmons', 'Tipperary', '€5.30', '€54.99'),
 (221, '14/10/20', 'Jim Jones', 'Tipperary', '€5.39', '€105.99'),
 (222, '15/10/20', 'James O Connor', 'Limerick', '€5.30', '€53.99'),
 (223, '15/10/20', 'Michael Burke', 'Limerick', '€00.00', '€54.99'),
 (224, '15/10/20', 'Olivia Ryan', 'Donegal', '€00.00', '€154.00'),
 (225, '15/10/20', 'Nuala Brett', 'Wexford', '€00.00', '€58.00'),
 (226, '16/10/20', 'Nicola O Connor', 'Mayo', '€00.00', '€154.31'),
 (227, '16/10/20', 'Claire Greene', 'Tipperary', '€00.00', '€64.01'),
 (228, '16/10/20', 'Pauline Murphy', 'Cork', '€5.30', '€54.00'),
 (229, '17/10/20', 'Sue Fitzgerald', 'Limerick', '€19.31', '€04.32'),
 (230, '17/10/20', 'Noreen O Rourke', 'Dublin', '€105.30', '€64.31'),
 (231, '18/10/20', 'Sophie Murphy', 'Tipperary', '€115.30', '€54.31'),
 (232, '18/10/20', 'Chloe Jones', 'Wexford', '€00.00', '€543.31'),
 (233, '18/10/20', 'Emma O Connor', 'Wexford', '€00.00', '€54.31'),
 (234, '18/10/20', 'Moira Ryan', 'Mayo', '€15.30', '€154.31'),
 (235, '19/10/20', 'David Dunne', 'Galway', '€00.00', '€54.31'),
 (236, '19/10/20', 'Nuala Fitzpatrick', 'Galway', '€00.00', '€154.00'),
 (237, '19/10/20', 'Deirdre Ryan', 'Tipperary', '€00.00', '€54.31'),
 (238, '20/10/20', 'Mary Fitzpatrick', 'Cork', '€00.00', '€524.00'),
 (239, '20/10/20', 'Caroline O Meara', 'Cork', '€15.00', '€00.00'),
 (240, '21/10/20', 'Jack Fitzsimmons', 'Donegal', '€14.30', '€00.00'),
 (241, '21/10/20', 'Pat Carey', 'Donegal', '€00.00', '€44.00'),
 (242, '21/10/20', 'Tom O Brien', 'Cork', '€75.30', '€00.00'),
 (243, '22/10/20', 'Sue O Keeffe', 'Limerick', '€19.00', '€105.32'),
 (244, '22/10/20', 'Noreen Smyth', 'Dublin', '€105.31', '€59.00'),
 (245, '22/10/20', 'Petula Smyth', 'Tipperary', '€15.30', '€00.00'),
 (246, '22/10/20', 'Nancy Duff', 'Donegal', '€00.00', '€154.99'),
 (247, '22/10/20', 'Fay O Brien', 'Tipperary', '€00.00', '€54.00'),
 (248, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (249, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (250, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (251, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (252, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (253, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (254, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (255, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (256, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (257, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (258, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (259, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (260, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (261, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (262, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (263, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (264, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (265, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (266, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (267, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (268, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (269, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (270, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (271, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (272, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (273, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (274, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (275, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (276, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (277, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (278, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (279, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (280, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (281, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (282, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (283, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (284, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (285, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (286, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (287, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (288, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (289, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (290, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (291, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (292, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (293, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (294, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (295, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (296, '14/10/20', 'David O Flaherty', 'Limerick', '€00.00', '€14.99'),
 (297, '14/10/20', 'Matthew Fitzsimmons', 'Tipperary', '€5.30', '€54.99'),
 (298, '14/10/20', 'Jim Jones', 'Tipperary', '€5.39', '€105.99'),
 (299, '15/10/20', 'James O Connor', 'Limerick', '€5.30', '€53.99'),
 (300, '15/10/20', 'Michael Burke', 'Limerick', '€00.00', '€54.99'),
 (301, '15/10/20', 'Olivia Ryan', 'Donegal', '€00.00', '€154.00'),
 (302, '15/10/20', 'Nuala Brett', 'Wexford', '€00.00', '€58.00'),

In [25]:
# deleted top 7 rows
c.execute("DELETE FROM person WHERE ROWID=1")
c.execute("DELETE FROM person WHERE ROWID=2")
c.execute("DELETE FROM person WHERE ROWID=3")
c.execute("DELETE FROM person WHERE ROWID=4")
c.execute("DELETE FROM person WHERE ROWID=5")
c.execute("DELETE FROM person WHERE ROWID=6")
c.execute("DELETE FROM person WHERE ROWID=7")
conn.commit()

In [26]:
# reran data base information 
c.execute("SELECT ROWID, date, name, address, instore, online FROM person")
c.fetchall()

[(8, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (9, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (10, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (11, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (12, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (13, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (14, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (15, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (16, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (17, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (18, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (19, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (20, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (21, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (22, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (23, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (24, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (25, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (26, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (27, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (28, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (29, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (30, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (31, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (32, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (33, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (34, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (35, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (36, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (37, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (38, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (39, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (40, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (41, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (42, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (43, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (44, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (45, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (46, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (47, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (48, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (49, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (50, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (51, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (52, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (53, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (54, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (55, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (56, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (57, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (58, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (59, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (60, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (61, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (62, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (63, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (64, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (65, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (66, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (67, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (68, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (69, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (70, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (71, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (72, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (73, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (74, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (75, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (76, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (77, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (78, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (79, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (80, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (81, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (82, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (83, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (84, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (85, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (86, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (87, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (88, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (89, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (90, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (91, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (92, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (93, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (94, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (95, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (96, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (97, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (98, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (99, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (100, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (101, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (102, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (103, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (104, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (105, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (106, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (107, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (108, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (109, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (110, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (111, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (112, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (113, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (114, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (115, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (116, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (117, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (118, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (119, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (120, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (121, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (122, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (123, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (124, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (125, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (126, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (127, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (128, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (129, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (130, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (131, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (132, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (133, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (134, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (135, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (136, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (137, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (138, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (139, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (140, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (141, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (142, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (143, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (144, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (145, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (146, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (147, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (148, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (149, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (150, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (151, '14/10/20', 'David O Flaherty', 'Limerick', '€00.00', '€14.99'),
 (152, '14/10/20', 'Matthew Fitzsimmons', 'Tipperary', '€5.30', '€54.99'),
 (153, '14/10/20', 'Jim Jones', 'Tipperary', '€5.39', '€105.99'),
 (154, '15/10/20', 'James O Connor', 'Limerick', '€5.30', '€53.99'),
 (155, '15/10/20', 'Michael Burke', 'Limerick', '€00.00', '€54.99'),
 (156, '15/10/20', 'Olivia Ryan', 'Donegal', '€00.00', '€154.00'),
 (157, '15/10/20', 'Nuala Brett', 'Wexford', '€00.00', '€58.00'),
 (158, '16/10/20', 'Nicola O Connor', 'Mayo', '€00.00', '€154.31'),
 (159, '16/10/20', 'Claire Greene', 'Tipperary', '€00.00', '€64.01'),
 (160, '16/10/20', 'Pauline Murphy', 'Cork', '€5.30', '€54.00'),
 (161, '17/10/20', 'Sue Fitzgerald', 'Limerick', '€19.31', '€04.32'),
 (162, '17/10/20', 'Noreen O Rourke', 'Dublin', '€105.30', '€64.31'),
 (163, '18/10/20', 'Sophie Murphy', 'Tipperary', '€115.30', '€54.31'),
 (164, '18/10/20', 'Chloe Jones', 'Wexford', '€00.00', '€543.31'),
 (165, '18/10/20', 'Emma O Connor', 'Wexford', '€00.00', '€54.31'),
 (166, '18/10/20', 'Moira Ryan', 'Mayo', '€15.30', '€154.31'),
 (167, '19/10/20', 'David Dunne', 'Galway', '€00.00', '€54.31'),
 (168, '19/10/20', 'Nuala Fitzpatrick', 'Galway', '€00.00', '€154.00'),
 (169, '19/10/20', 'Deirdre Ryan', 'Tipperary', '€00.00', '€54.31'),
 (170, '20/10/20', 'Mary Fitzpatrick', 'Cork', '€00.00', '€524.00'),
 (171, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (172, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (173, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (174, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (175, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (176, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (177, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (178, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (179, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (180, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (181, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (182, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (183, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (184, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (185, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (186, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (187, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (188, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (189, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (190, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (191, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (192, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (193, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (194, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (195, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (196, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (197, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (198, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (199, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (200, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (201, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (202, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (203, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (204, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (205, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (206, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (207, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (208, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (209, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (210, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (211, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (212, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (213, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (214, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (215, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (216, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (217, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (218, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (219, '14/10/20', 'David O Flaherty', 'Limerick', '€00.00', '€14.99'),
 (220, '14/10/20', 'Matthew Fitzsimmons', 'Tipperary', '€5.30', '€54.99'),
 (221, '14/10/20', 'Jim Jones', 'Tipperary', '€5.39', '€105.99'),
 (222, '15/10/20', 'James O Connor', 'Limerick', '€5.30', '€53.99'),
 (223, '15/10/20', 'Michael Burke', 'Limerick', '€00.00', '€54.99'),
 (224, '15/10/20', 'Olivia Ryan', 'Donegal', '€00.00', '€154.00'),
 (225, '15/10/20', 'Nuala Brett', 'Wexford', '€00.00', '€58.00'),
 (226, '16/10/20', 'Nicola O Connor', 'Mayo', '€00.00', '€154.31'),
 (227, '16/10/20', 'Claire Greene', 'Tipperary', '€00.00', '€64.01'),
 (228, '16/10/20', 'Pauline Murphy', 'Cork', '€5.30', '€54.00'),
 (229, '17/10/20', 'Sue Fitzgerald', 'Limerick', '€19.31', '€04.32'),
 (230, '17/10/20', 'Noreen O Rourke', 'Dublin', '€105.30', '€64.31'),
 (231, '18/10/20', 'Sophie Murphy', 'Tipperary', '€115.30', '€54.31'),
 (232, '18/10/20', 'Chloe Jones', 'Wexford', '€00.00', '€543.31'),
 (233, '18/10/20', 'Emma O Connor', 'Wexford', '€00.00', '€54.31'),
 (234, '18/10/20', 'Moira Ryan', 'Mayo', '€15.30', '€154.31'),
 (235, '19/10/20', 'David Dunne', 'Galway', '€00.00', '€54.31'),
 (236, '19/10/20', 'Nuala Fitzpatrick', 'Galway', '€00.00', '€154.00'),
 (237, '19/10/20', 'Deirdre Ryan', 'Tipperary', '€00.00', '€54.31'),
 (238, '20/10/20', 'Mary Fitzpatrick', 'Cork', '€00.00', '€524.00'),
 (239, '20/10/20', 'Caroline O Meara', 'Cork', '€15.00', '€00.00'),
 (240, '21/10/20', 'Jack Fitzsimmons', 'Donegal', '€14.30', '€00.00'),
 (241, '21/10/20', 'Pat Carey', 'Donegal', '€00.00', '€44.00'),
 (242, '21/10/20', 'Tom O Brien', 'Cork', '€75.30', '€00.00'),
 (243, '22/10/20', 'Sue O Keeffe', 'Limerick', '€19.00', '€105.32'),
 (244, '22/10/20', 'Noreen Smyth', 'Dublin', '€105.31', '€59.00'),
 (245, '22/10/20', 'Petula Smyth', 'Tipperary', '€15.30', '€00.00'),
 (246, '22/10/20', 'Nancy Duff', 'Donegal', '€00.00', '€154.99'),
 (247, '22/10/20', 'Fay O Brien', 'Tipperary', '€00.00', '€54.00'),
 (248, '01/10/20', 'Mary Ryan', 'Tipperary', '€15.30', '€54.31'),
 (249, '01/10/20', 'Tom Jones', 'Cork', '€75.30', '€54.31'),
 (250, '01/10/20', 'Sue Bloggs', 'Limerick', '€19.31', '€104.32'),
 (251, '02/10/20', 'Noreen Ryan', 'Dublin', '€105.30', '€54.31'),
 (252, '02/10/20', 'Carol Kerns', 'Tipperary', '€150.30', '€454.32'),
 (253, '02/10/20', 'Joe Maher', 'Meath', '€15.30', '€4.31'),
 (254, '02/10/20', 'Anna Corcoran', 'Mayo', '€415.30', '€954.61'),
 (255, '03/10/20', 'Michelle Ryan', 'Mayo', '€5.30', '€64.31'),
 (256, '04/10/20', 'Moira Browne', 'Tipperary', '€15.36', '€94.31'),
 (257, '04/10/20', 'Patrick Treacy', 'Cork', '€65.30', '€54.31'),
 (258, '04/10/20', 'Peggy Greene', 'Belfast', '€151.70', '€453.81'),
 (259, '05/10/20', 'Michael Browne', 'Kerry', '€115.40', '€546.38'),
 (260, '05/10/20', 'Mary Murphy', 'Mayo', '€100.30', '€54.31'),
 (261, '06/10/20', 'Catherine Givens', 'Mayo', '€00.00', '€54.31'),
 (262, '06/10/20', 'Tom Murphy', 'Tipperary', '€5.30', '€54.31'),
 (263, '06/10/20', 'John Brett', 'Cork', '€5.30', '€54.34'),
 (264, '07/10/20', 'Andy Treacy', 'Limerick', '€19.31', '€114.32'),
 (265, '07/10/20', 'Paudie Burke', 'Dublin', '€106.30', '€53.31'),
 (266, '07/10/20', 'Nonie Murphy', 'Tipperary', '€15.30', '€54.31'),
 (267, '08/10/20', 'Helen Gleeson', 'Waterford', '€16.30', '€64.31'),
 (268, '08/10/20', 'Sean Meagher', 'Mayo', '€00.00', '€542.11'),
 (269, '08/10/20', 'Mary Gleeson', 'Mayo', '€00.00', '€154.31'),
 (270, '09/10/20', 'Carol Brett', 'Cork', '€00.00', '€54.41'),
 (271, '09/10/20', 'Paul Hayes', 'Limerick', '€15.30', '€594.37'),
 (272, '10/10/20', 'Margaret Cornally', 'Meath', '€00.00', '€14.31'),
 (273, '10/10/20', 'Jim Ryan', 'Dublin', '€15.30', '€00.00'),
 (274, '10/10/20', 'Ann Jones', 'Waterford', '€115.30', '€549.21'),
 (275, '10/10/20', 'Michael Ryan', 'Waterford', '€00.00', '€544.31'),
 (276, '11/10/20', 'James Murphy', 'Tipperary', '€15.30', '€00.00'),
 (277, '11/10/20', 'Tom Ryan', 'Cork', '€75.30', '€24.31'),
 (278, '11/10/20', 'Sue Jones', 'Limerick', '€199.31', '€704.32'),
 (279, '11/10/20', 'Noreen Brett', 'Dublin', '€105.30', '€00.00'),
 (280, '12/10/20', 'Mary Burke', 'Tipperary', '€159.30', '€00.00'),
 (281, '12/10/20', 'Oliver Ryan', 'Donegal', '€00.00', '€254.31'),
 (282, '12/10/20', 'PJ Burke', 'Cork', '€4.30', '€54.00'),
 (283, '12/10/20', 'Patrick Corcoran', 'Cork', '€15.30', '€54.31'),
 (284, '12/10/20', 'June Roberts', 'Cork', '€145.30', '€254.31'),
 (285, '12/10/20', 'May Burke', 'Kerry', '€00.00', '€44.31'),
 (286, '12/10/20', 'Winter Ryan', 'Tipperary', '€15.39', '€34.31'),
 (287, '12/10/20', 'Una Jones', 'Kerry', '€00.00', '€54.31'),
 (288, '13/10/20', 'Albert Brett', 'Wexford', '€15.30', '€44.31'),
 (289, '13/10/20', 'Maggie Bourke', 'Cork', '€00.00', '€354.37'),
 (290, '13/10/20', 'Kerry Ryan', 'Tipperary', '€00.00', '€54.32'),
 (291, '13/10/20', 'Tom Roberts', 'Cork', '€75.30', '€54.31'),
 (292, '13/10/20', 'Sue Corcoran', 'Limerick', '€19.31', '€105.32'),
 (293, '13/10/20', 'Noreen Carey', 'Dublin', '€00.00', '€54.31'),
 (294, '13/10/20', 'Paul Burke', 'Tipperary', '€00.0', '€54.61'),
 (295, '14/10/20', 'Michael O Rourke', 'Limerick', '€00.00', '€24.38'),
 (296, '14/10/20', 'David O Flaherty', 'Limerick', '€00.00', '€14.99'),
 (297, '14/10/20', 'Matthew Fitzsimmons', 'Tipperary', '€5.30', '€54.99'),
 (298, '14/10/20', 'Jim Jones', 'Tipperary', '€5.39', '€105.99'),
 (299, '15/10/20', 'James O Connor', 'Limerick', '€5.30', '€53.99'),
 (300, '15/10/20', 'Michael Burke', 'Limerick', '€00.00', '€54.99'),
 (301, '15/10/20', 'Olivia Ryan', 'Donegal', '€00.00', '€154.00'),
 (302, '15/10/20', 'Nuala Brett', 'Wexford', '€00.00', '€58.00'),
 (303, '16/10/20', 'Nicola O Connor', 'Mayo', '€00.00', '€154.31'),
 (304, '16/10/20', 'Claire Greene', 'Tipperary', '€00.00', '€64.01'),
 (305, '16/10/20', 'Pauline Murphy', 'Cork', '€5.30', '€54.00'),
 (306, '17/10/20', 'Sue Fitzgerald', 'Limerick', '€19.31', '€04.32'),
 (307, '17/10/20', 'Noreen O Rourke', 'Dublin', '€105.30', '€64.31'),
 (308, '18/10/20', 'Sophie Murphy', 'Tipperary', '€115.30', '€54.31'),

## Relationships

## Data exploration

In [27]:
df.shape

NameError: name 'df' is not defined

In [64]:
df.describe

<bound method NDFrame.describe of Empty DataFrame
Columns: []
Index: []>

In [29]:
plot

NameError: name 'plot' is not defined

## Distribution

## Conclusion

## Reference

https://stackoverflow.com/questions/57274902/python-iterate-over-all-days-in-a-month

https://stackoverflow.com/questions/21231789/how-to-get-all-days-in-current-month

## End